{% extends 'flatpages/default.html' %}
{% block navigation %}
    <li class="nav-item"><a class="nav-link text-white" href="/home/"><i>Home</i></a></li>
    <li class="nav-item"><a class="nav-link text-white active" aria-current="page" href="/about/"><i>About</i></a></li>
    <li class="nav-item"><a class="nav-link text-white" href="/products/"><i>Products</i></a></li>
{% endblock %}
{% block content %}
<!-- Contact section-->
<section class="bg-dark-color py-5">
    <div class="container px-5 my-5 px-5">
        <div class="text-center mb-5 orange-color">
            {{ flatpage.content }}
        </div>
        <div class="row gx-5 justify-content-center">
            <div class="col-lg-6">
                <form id="contactForm" data-sb-form-api-token="API_TOKEN">
                    <!-- Name input-->
                    <div class="form-floating mb-3">
                        <input class="form-control" id="name" type="text" placeholder="Enter your name..." data-sb-validations="required" />
                        <label for="name"><i>Full name</i></label>
                        <div class="invalid-feedback" data-sb-feedback="name:required"><i>A name is required.</i></div>
                    </div>
                    <!-- Email address input-->
                    <div class="form-floating mb-3">
                        <input class="form-control" id="email" type="email" placeholder="name@example.com" data-sb-validations="required,email" />
                        <label for="email"><i>Email address</i></label>
                        <div class="invalid-feedback" data-sb-feedback="email:required"><i>An email is required.</i></div>
                        <div class="invalid-feedback" data-sb-feedback="email:email"><i>Email is not valid.</i></div>
                    </div>
                    <!-- Phone number input-->
                    <div class="form-floating mb-3">
                        <input class="form-control" id="phone" type="tel" placeholder="(123) 456-7890" data-sb-validations="required" />
                        <label for="phone"><i>Phone number</i></label>
                        <div class="invalid-feedback" data-sb-feedback="phone:required"><i>A phone number is required.</i></div>
                    </div>
                    <!-- Message input-->
                    <div class="form-floating mb-3">
                        <textarea class="form-control" id="message" type="text" placeholder="Enter your message here..." style="height: 10rem" data-sb-validations="required"></textarea>
                        <label for="message"><i>Message</i></label>
                        <div class="invalid-feedback" data-sb-feedback="message:required"><i>A message is required.</i></div></div>
                    </div>
                    <!-- Submit success message-->
                    <!---->
                    <!-- This is what your users will see when the form-->
                    <!-- has successfully submitted-->
                    <div class="d-none" id="submitSuccessMessage">
                        <div class="text-center mb-3">
                            <div class="fw-bolder"><i>Form submission successful!</i></div>
                            <a href="https://startbootstrap.com/solution/contact-forms">https://startbootstrap.com/solution/contact-forms</a>
                        </div>
                    </div>
                    <!-- Submit error message-->
                    <!---->
                    <!-- This is what your users will see when there is-->
                    <!-- an error submitting the form-->
                    <div class="d-none" id="submitErrorMessage"><div class="text-center text-danger mb-3 scary-font"><i>Error sending message!</i></div></div>
                    <!-- Submit Button-->
                    <div class="d-grid"><button class="btn bg-purple-color btn-lg disabled scary-font" id="submitButton" type="submit"><i>Submit</i></button></div>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock content %}